:root {
    --grid-size: 1;
}

.interface {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    grid-template-rows: repeat(var(--grid-size), 1fr);
    width: 640px;
    margin-left: 50px;
    cursor: crosshair;
}
.square {
    padding-bottom: 100%;
    background-color: white;
}

.dashboard, .slider {
    display: flex;
    flex-direction: column;
}

.dashboard {
    justify-content: space-around;
    height: 100%;
}

.active {
    background-color: red;
}

.grid-lines {
    outline: 1px solid black;
}