#container {
    display: flex;
    flex-wrap: wrap;
    width: 328px;
}
.square {
    height: 16px;
    width: 16px;
    margin: 2px;
    display: flex;
    background-color: #d9d9d9;
}

.square:hover {
    background-color: black;
}