:root {
    --grid-size: 1;
}

h1 {
    display: flex;
    justify-content: center;
}

.interface {
    display: flex;
    flex-wrap: auto;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    grid-template-rows: repeat(var(--grid-size), 1fr);
    height: 640px;
    width: 640px;
    margin-left: 250px;
    cursor: crosshair;
}
.square {
    padding-bottom: 100%;
    background-color: white;
}

.square:hover {
    background-color: black;
}

.dashboard, .slider {
    display: flex;
    flex-direction: column;
}

.dashboard {
    justify-content: space-around;
    height: 640px;
}

.active {
    background-color: red;
}

.grid-lines {
    outline: 1px solid black;
}